<h1>¡Bienvenidos a nuestro blog!</h1>
<% if false %>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <% [1, 2, 3, 4].each do |number| %>
    <p>Número: <%= number * 2 %></p>
  <%end%>
<% end %>
