html, body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
a,a:visited{
  color: inherit;
  text-decoration: none;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}
.red{
  color: #F23838 !important;
}
.blue{
  color: #66CCFF !important;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
.be-red{
  background-color: #F23838;
}
.white{
  color: #F2F2F2;
}
.grey{
  color: #616161
}
.large-padding{
  padding: 8px 5px;
}
.no-list{
  list-style-type: none;
}
.field,.top-space,.actions{
  margin-top: 1em;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.article-height{
  height: 150px;
}
.background-cover{
  background-position: center;
  background-size: cover;
}
.be-big{
  font-size: 2em;
}
.be-small{
  font-size: 12px;
}
.bottom-space{
  margin-bottom: 2em;
}
.light-border{
  border-style: none;
  border-width: thin;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify;
}
.underline{
  text-decoration: underline;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em
}
